			/* ====================== Pagination CSS Starts ====================== */

div.pagination {
    padding: 3px;
    margin: 3px;
	z-index: 1000;
	font-size: 14px;
	margin-bottom: 20px;	
}

div.pagination a {
    padding: 5px 7px;
    margin: 2px;
    border: 1px solid #0D6B23;
    text-decoration: none; /* no underline */
	background-color: #1DA93E;
    color: #FFF;
	font-weight: bold;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #0D6B23;
    color: #FFF;
	background-color: #63BC78;
}

div.pagination span.current {
    padding: 5px 7px;
    margin: 2px;
	border: 1px solid #0D6B23;
	font-weight: bold;
	background-color: #63BC78;
	color: #FFF;
	font-weight: bold;
}

div.pagination span.disabled {
	padding: 5px 7px;
	margin: 2px;
	border: 1px solid #929693;
	color: #929693;
}
			/* ====================== Pagination CSS Starts ====================== */
